[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/formateu
[access "refs/for/refs/*"]
	read = group MiedziowaDolina
	read = group user/formateu
	push = group MiedziowaDolina
	push = group user/formateu
	label-Code-Review = -2..+2 group user/formateu
	label-Code-Review = -1..+1 group MiedziowaDolina
	label-Verified = -1..+1 group MiedziowaDolina
	label-Verified = -1..+1 group user/formateu
	rebase = group MiedziowaDolina
	rebase = group user/formateu
	removeReviewer = group MiedziowaDolina
	removeReviewer = group user/formateu
	submit = group MiedziowaDolina
	submit = group user/formateu
[access "refs/heads/*"]
	read = group MiedziowaDolina
	read = group user/formateu
	create = group MiedziowaDolina
	create = group user/formateu
	push = group MiedziowaDolina
	push = +force group user/formateu
	pushMerge = group MiedziowaDolina
	pushMerge = group user/formateu
	label-Verified = -1..+1 group MiedziowaDolina
[access "refs/tags/*"]
	push = group MiedziowaDolina
	push = group user/formateu
	push = +force group user/formateu
