[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Mateusz Forc (formateu)
[access "refs/for/refs/*"]
	read = group MiedziowaDolina
	read = group user/Mateusz Forc (formateu)
	push = group MiedziowaDolina
	push = group user/Mateusz Forc (formateu)
	label-Code-Review = -2..+2 group user/Mateusz Forc (formateu)
	label-Code-Review = -1..+1 group MiedziowaDolina
	label-Verified = -1..+1 group MiedziowaDolina
	label-Verified = -1..+1 group user/Mateusz Forc (formateu)
	rebase = group MiedziowaDolina
	rebase = group user/Mateusz Forc (formateu)
	removeReviewer = group MiedziowaDolina
	removeReviewer = group user/Mateusz Forc (formateu)
	submit = group MiedziowaDolina
	submit = group user/Mateusz Forc (formateu)
[access "refs/heads/*"]
	read = group MiedziowaDolina
	read = group user/Mateusz Forc (formateu)
	create = group MiedziowaDolina
	create = group user/Mateusz Forc (formateu)
	push = group MiedziowaDolina
	push = +force group user/Mateusz Forc (formateu)
	pushMerge = group MiedziowaDolina
	pushMerge = group user/Mateusz Forc (formateu)
	label-Verified = -1..+1 group MiedziowaDolina
[access "refs/tags/*"]
	push = group MiedziowaDolina
	push = group user/Mateusz Forc (formateu)
	push = +force group user/Mateusz Forc (formateu)
